.mince-display {
  background-color: #fff;
  //font-family: monospace;
  font-size: 13.333px;
  line-height: 1.15em;
  font-family: serif;
  border-style: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  resize: both;
  cursor: text;
  display: flex;
  flex-direction: row;
}

.mince-pane {
  width: 100%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
}

.mince-scrollbar {
  height: 100%;
  width: 6px;
  min-width: 6px;
  max-width: 6px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: default;
}

.mince-scrollbar:hover .bar {
  background-color: #aaaaaa;
}

.mince-scrollbar:active .bar {
  background-color: #666666;
}

.mince-scrollbar .bar {
  background-color: #999999;
  position: relative;
  height: 100%;
  width: 100%;
}

.mince-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mince-rows {
  user-select: none;
  -moz-user-select: none;
  position: relative;
  width: 100%;
}

.mince-row {
  white-space: pre;
}

.mince-paginator-row {
  position: absolute;
  width: 10000px;
}

.mince-caret {
  animation: blinker 1s linear infinite;
  position: absolute;
  margin-left: 0em;
  margin-top: 0em;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.mz-bold {
  font-weight: bold;
}
.mz-italic {
  font-style: italic;
}
.mz-underline {
  text-decoration: underline;
}
.mz-strikethrough {
  text-decoration: line-through;
}
.mz-strikethrough.mz-underline {
  text-decoration: underline line-through;
}

.mz-selection {
  background-color: #300;
}

.ma-tab {
  display: inline-block;
  width: 3em;
}
