
body,html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mince.display {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: #333;
  color: #bbddff;
}

.mince.pane {
  padding: 5%;
}

