body,html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: row;
  background-color: #bae;
}
textarea {
  font-family: serif;
  width: 0px;
  margin: 40px;
  margin-right: 20px;
  flex-grow: 1;
}

.mince.area {
  width: 0px;
  margin: 40px;
  margin-left: 20px;
  flex-grow: 1;
}

.mince.caret {
}

